.dish-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dish-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

span {
    font-size: 1.4rem;
    color: #333;
}

.dish-buttons, .dish-user-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.edit-button, .add-cart-btn {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.dish-reviews {
    width: 100%;
    margin-top: 2rem;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

h5 {
    font-size: 1.4rem;
}

.reviewButtons {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

#review-edit-button, #review-delete-button {
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#review-delete-button {
    background-color: #FF0000;
}
